---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Pills from "../components/Pills.astro";
import Banner from "../components/Banner.astro";
import Experience from "../components/Experience.astro";
import HorizontalLine from "@components/HorizontalLine.astro";
import SectionContainer from "@components/SectionContainer.astro";
---

<Layout
  title="Sebastian Peralta | Frontend Web Developer"
  description="Soy Sebastian Peralta, Frontend Web Developer con JavaScript, TypeScript, React. Descubre proyectos innovadores y modernos que transforman la web."
>
  <main
    class="flex flex-col max-sm:gap-16 items-center mx-auto lg:w-[720px] px-6 py-24 sm:py-48 sm:px-24 lg:px-12"
  >
    <SectionContainer>
      <article class="w-full grid">
        <Image
          class="rounded-full size-16 sm:size-24 lg:size-32"
          height={200}
          width={200}
          src="https://github.com/puntoenv.png"
          alt="puntoenv"
          loading="eager"
        />
      </article>
      <h1 class="text-3xl sm:text-5xl font-bold">Sebastian Peralta</h1>
      <Banner />
      <Pills />
    </SectionContainer>
    <HorizontalLine />
    <SectionContainer class="pl-4">
      <Experience />
    </SectionContainer>
    <HorizontalLine />
  </main>
</Layout>
