---
import Layout from "../layouts/Layout.astro";
import Pills from "../components/Pills.astro";
import Banner from "../components/Banner.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "@components/SectionContainer.astro";
import UserImage from "@components/UserImage.astro";
---

<Layout
  title="Sebastian Peralta | Frontend Web Developer"
  description="Soy Sebastian Peralta, Frontend Web Developer con JavaScript, TypeScript, React y Next.js. Descubre proyectos innovadores y modernos que transforman la web."
  canonical="https://sebastianperalta.vercel.app/"
  userName="puntoenv"
>
  <main
    class="flex flex-col items-center mx-auto lg:w-[720px] p-4 sm:p-8 lg:px-8"
  >
    <SectionContainer id="home">
      <UserImage userName="puntoenv" />
      <h1 class="text-3xl sm:text-5xl font-bold">Sebastian Peralta</h1>
      <Banner />
      <Pills />
    </SectionContainer>
    <SectionContainer id="experience" class="pl-4">
      <Experience />
    </SectionContainer>
  </main>
</Layout>
