---
import Education from "@components/education/Education.astro";
import Experience from "@components/experience/Experience.astro";
import User from "@components/home/User.astro";
import Skills from "@components/skills/Skills.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Sebastian Peralta | Frontend Web Developer"
  description="Soy Sebastian Peralta, Frontend Web Developer con JavaScript, TypeScript, React y Next.js. Descubre proyectos innovadores y modernos que transforman la web."
  canonical="https://sebastianperalta.vercel.app/"
  twitter="@puntoenv"
>
  <main
    class="flex flex-col justify-center items-center mx-auto lg:w-[1024px] gap-y-8 sm:gap-y-16 lg:gap-y-32 px-4 sm:px-8 lg:px-16 py-8 sm:py-16 lg:py-32 text-center"
  >
    <User />
    <Experience />
    <Education />
    <Skills />
  </main>
</Layout>
