---
import Experience from "@components/experience/Experience.astro";
import User from "@components/home/User.astro";
import Projects from "@components/projects/Projects.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Sebastian Peralta | Frontend Web Developer"
  description="Soy Sebastian Peralta, Frontend Web Developer con JavaScript, TypeScript, React y Next.js. Descubre proyectos innovadores y modernos que transforman la web."
  canonical="https://sebastianperalta.vercel.app/"
  twitter="@puntoenv"
>
  <main
    class="flex flex-col items-center mx-auto lg:w-[720px] max-sm:gap-12 py-6 px-4 sm:py-8 sm:px-8 lg:py-16 lg:px-0"
  >
    <User />
    <Experience />
    <Projects />
  </main>
</Layout>
