---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Pills from "../components/Pills.astro";
import Banner from "../components/Banner.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "@components/SectionContainer.astro";
---

<Layout
  title="Sebastian Peralta | Frontend Web Developer"
  description="Soy Sebastian Peralta, Frontend Web Developer con JavaScript, TypeScript, React y Next.js. Descubre proyectos innovadores y modernos que transforman la web."
  canonical="https://sebastianperalta.vercel.app/"
  twitter="@puntoenv"
  image="/puntoenv.webp"
>
  <main
    class="flex flex-col max-sm:gap-16 items-center mx-auto sm:w-[720px] px-6 py-8 sm:px-12 sm:py-6"
  >
    <SectionContainer>
      <article class="w-full grid">
        <Image
          class="rounded-full size-16 sm:size-24"
          height={200}
          width={200}
          src="/puntoenv.webp"
          alt="puntoenv"
          loading="eager"
        />
      </article>
      <h1 class="text-3xl sm:text-5xl font-bold">Sebastian Peralta</h1>
      <Banner />
      <Pills />
    </SectionContainer>
    <SectionContainer class="pl-4">
      <Experience />
    </SectionContainer>
  </main>
</Layout>
