---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import User from "@components/User.astro";
---

<Layout
  title="Sebastian Peralta | Frontend Web Developer"
  description="Soy Sebastian Peralta, Frontend Web Developer con JavaScript, TypeScript, React y Next.js. Descubre proyectos innovadores y modernos que transforman la web."
  canonical="https://sebastianperalta.vercel.app/"
  twitter="@puntoenv"
>
  <main
    class="flex flex-col items-center mx-auto lg:w-[720px] pt-4 px-4 sm:pt-8 sm:px-8 lg:p-0 gap-y-4 sm:gap-y-0"
  >
    <User />
    <Experience />
  </main>
</Layout>
