---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Pills from "../components/Pills.astro";
import Banner from "../components/Banner.astro";
import Experience from "../components/Experience.astro";
---

<Layout
  title="Sebastian Peralta | Frontend Web Developer"
  description="Soy Sebastian Peralta, Frontend Web Developer con JavaScript, TypeScript, React. Descubre proyectos innovadores y modernos que transforman la web."
>
  <main class="flex flex-col">
    <section class="mx-auto lg:w-[720px] pt-48 flex flex-col gap-y-4 relative">
      <article class="flex items-center gap-x-4">
        <Image
          class="rounded-full"
          height={75}
          width={75}
          src="https://github.com/puntoenv.png"
          alt="puntoenv"
          loading="eager"
        />
      </article>
      <h1 class="text-yellow-600 dark:text-yellow-300 text-5xl font-bold">
        Sebastian Peralta
      </h1>
      <Banner />
      <Pills />
      <Experience />
    </section>
  </main></Layout
>
