---
import Badge from "@components/ui/Badge.astro";
---

<h2 class="space-y-2">
  <p
    class="flex max-lg:justify-center items-center flex-col sm:flex-row gap-y-2 gap-x-4"
  >
    <strong class="text-lg sm:text-2xl"> FRONTEND WEB DEVELOPER </strong>
    <a
      class="w-fit"
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/puntoenv/"
    >
      <Badge> #OPEN TO WORK </Badge>
    </a>
  </p>
  <p class="text-lg sm:text-xl">
    <span class="opacity-90"> Especializado en crear </span>
    <em> sitios web interactivos y dinámicos </em>
    <span class="opacity-90"> enfocados en la </span>
    <em> experiencia del usuario </em>
  </p>
</h2>
