---
import SectionContainer from "@components/ui/SectionContainer.astro";
import UserImage from "./UserImage.astro";
import Banner from "./Banner.astro";
import Pills from "./Pills.astro";
---

<SectionContainer
  id="home"
  class="scroll-mt-24 sm:scroll-mt-40 lg:scroll-mt-32"
>
  <UserImage />
  <h1 class="text-2xl sm:text-5xl font-bold">Sebastian Peralta</h1>
  <Banner />
  <Pills />
</SectionContainer>
