---
import SectionContainer from "@components/ui/SectionContainer.astro";
import UserImage from "./UserImage.astro";
import Banner from "./Banner.astro";
import Pills from "./Pills.astro";
---

<SectionContainer
  id="home"
  class="text-center scroll-mt-28 lg:scroll-mt-56 lg:text-left"
>
  <div class="flex gap-y-2 sm:gap-y-8 flex-col-reverse lg:flex-row">
    <div class="grid gap-y-2 lg:w-480px">
      <h1 class="text-2xl sm:text-5xl font-bold">Sebastian Peralta</h1>
      <Banner />
      <Pills />
    </div>
    <UserImage />
  </div>
</SectionContainer>
