---
import NavItem from "./NavItem.astro";
---

<header class="flex justify-center items-end h-18 lg:h-20 sticky top-0 z-10">
  <nav
    class="px-20 lg:px-4 w-full lg:w-auto text-xs font-bold sm:text-sm flex flex-row flex-wrap justify-center items-center gap-2 bg-black/10 dark:bg-white/10 p-2 lg:rounded-full backdrop-blur-3xl border-b lg:border border-black/10 dark:border-white/10"
  >
    <NavItem href="#home"> Inicio </NavItem>
    <NavItem href="#experience"> Experiencia </NavItem>
    <NavItem href="#education"> Educación </NavItem>
    <NavItem href="#skills"> Habilidades </NavItem>
    <!-- <NavItem href="#contact"> Contacto </NavItem> -->
  </nav>
</header>
