<a
  {...Astro.props}
  name="links"
  class="transition-colors duration-300 hover:bg-black/10 hover:dark:bg-white/10 rounded-full py-1 px-2 sm:py-2 sm:px-4 grid place-content-center"
>
  <slot />
</a>

<style is:inline>
  .clicked {
    background-color: rgb(0 0 0 / 0.1);
  }

  @media (prefers-color-scheme: dark) {
    .clicked {
      background-color: rgb(255 255 255 / 0.1);
    }
  }
</style>
