---
import Badge from "./Badge.astro";
---

<h2 class="text-2xl text-wrap space-y-1">
  <div class="flex gap-4">
    <strong class="text-yellow-900 dark:text-yellow-600">
      FRONTEND WEB DEVELOPER
    </strong>
    <a
      class="w-min flex justify-center items-center"
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/puntoenv/"
    >
      <Badge>#OPEN TO WORK</Badge>
    </a>
  </div>
  <p>
    <span class="opacity-90">Especializado en crear</span>
    <em> sitios web interactivos y dinámicos</em>
    <span class="opacity-90"> enfocados en la </span>
    <em>experiencia del usuario</em>
  </p>
</h2>
