---
import ExperienceItem from "@components/ExperienceItem.astro";
import EXPERIENCE from "@data/experience.json";
---

<h2 class="text-center text-2xl">MI EXPERIENCIA</h2>
<ol
  class="text-base sm:text-xl relative border-s border-black/10 dark:border-white/10 pl-4 space-y-8"
>
  {
    EXPERIENCE.map(({ title, time, description, technologies }) => (
      <ExperienceItem
        title={title}
        time={time}
        description={description}
        technologies={technologies}
      />
    ))
  }
</ol>
