---
import ExperienceIcon from "@icons/ExperienceIcon.astro";
import ExperienceList from "./ExperienceList.astro";

const { title, time } = Astro.props;
---

<li class="ms-6">
  <span
    class="absolute flex items-center justify-center w-6 h-6 bg-yellow-600 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-yellow-900"
  >
    <ExperienceIcon />
  </span>
  <h3
    class="flex items-center gap-4 mb-1 text-lg font-semibold text-yellow-900 dark:text-yellow-600"
  >
    {title}
  </h3>
  <em
    class="block mb-2 text-sm font-normal leading-none text-yellow-600 dark:text-yellow-900"
    >{time}</em
  >
  <ExperienceList />
</li>
