---
import ExperienceIcon from "@icons/ExperienceIcon.astro";

interface Props {
  title: string;
  time: string;
  description: string;
  technologies: string[];
}

const { title, time, description, technologies } = Astro.props;
const usedTechnologies = new Intl.ListFormat("es").format(technologies);
---

<li class="ms-6 grid gap-y-4">
  <span
    class="absolute flex items-center justify-center w-6 h-6 bg-gray-600 rounded-full -start-3 ring-8 ring-gray-300 dark:ring-gray-900 dark:bg-gray-600"
  >
    <ExperienceIcon />
  </span>
  <h3 class="text-lg sm:text-xl font-bold">
    {title}
  </h3>
  <em class="block text-sm sm:tsxt-base font-normal leading-none">
    {time}
  </em>
  <p class="opacity-90 text-base sm:text-lg">
    {description}
    <br />
    <strong> Technologias utilizadas: </strong>
    {usedTechnologies}
  </p>
</li>
