---
import CalendarIcon from "@icons/CalendarIcon.astro";
import Badge from "./Badge.astro";

interface Props {
  title: string;
  company: string;
  time: string;
  description: string;
  index: number;
}

const { title, company, time, description, index } = Astro.props;
---

<li class="ms-6 grid gap-y-2">
  <span
    class="absolute flex items-center justify-center w-6 h-6 bg-white/90 rounded-full -start-3 ring-8 ring-black/10 dark:ring-white/10 dark:bg-black/90"
  >
    <CalendarIcon class="size-2.5 sm:size-2.5" />
  </span>
  <h3 class="text-lg sm:text-xl font-bold flex items-center gap-x-2">
    {title}
    {index === 0 && <Badge class="hidden sm:block">Latest</Badge>}
  </h3>
  <span class="text-sm sm:text-lg">
    {company}
    {index === 0 && <Badge class="inline sm:hidden">Latest</Badge>}
  </span>
  <em class="block text-sm sm:text-base font-normal leading-none">
    {time}
  </em>
  <p class="opacity-90 text-base sm:text-lg">
    {description}
  </p>
</li>
