---
import NavItem from "./NavItem.astro";
---

<header class="flex justify-center items-center sticky top-0 sm:top-12 z-50">
  <nav
    class="w-full sm:w-auto text-xs sm:text-base text-black/90 dark:text-white/90 flex flex-row flex-wrap justify-center items-center gap-y-2 gap-x-8 bg-gray-100 dark:bg-gray-900 py-2 px-3 sm:rounded-full"
  >
    <NavItem href="/"> Home </NavItem>
    <NavItem href="/about"> About </NavItem>
    <NavItem href="/projects"> Projects </NavItem>
    <NavItem href="/contact"> Contact </NavItem>
    <NavItem href="/contact"> Contact </NavItem>
  </nav>
</header>
