---
import GitHubIcon from "@icons/GitHubIcon.astro";
import GmailIcon from "@icons/GmailIcon.astro";
import LinkedInIcon from "@icons/LinkedInIcon.astro";
import SocialPill from "@components/SocialPill.astro";
---

<nav class="flex gap-4 font-bold [&_svg]:size-6">
  <SocialPill href="https://www.linkedin.com/in/puntoenv/">
    <LinkedInIcon />
    <span class="hidden sm:block"> LinkedIn </span>
  </SocialPill>
  <SocialPill href="https://www.github.com/puntoenv">
    <GitHubIcon />
    <span class="hidden sm:block"> GitHub </span>
  </SocialPill>
  <SocialPill href="mailto:sebssjb@gmail.com">
    <GmailIcon />
    <span class="hidden sm:block"> sebssjb@gmail.com </span>
  </SocialPill>
</nav>
