---
import GitHubIcon from "@icons/GitHubIcon.astro";
import GmailIcon from "@icons/GmailIcon.astro";
import LinkedInIcon from "@icons/LinkedInIcon.astro";
import SocialPill from "@components/SocialPill.astro";
---

<nav class="flex sm:flex-row gap-4 font-bold">
  <SocialPill href="https://www.linkedin.com/in/puntoenv/">
    <LinkedInIcon class="size-6" />
    <span class="hidden sm:block"> LinkedIn </span>
  </SocialPill>
  <SocialPill href="https://www.github.com/puntoenv">
    <GitHubIcon class="size-6" />
    <span class="hidden sm:block"> GitHub </span>
  </SocialPill>
  <SocialPill href="mailto:sebssjb@gmail.com">
    <GmailIcon class="size-6" />
    <span class="hidden sm:block"> sebssjb@gmail.com </span>
  </SocialPill>
</nav>
