---
interface Props {
  class?: string;
  id?: string;
}

const { id } = Astro.props;
const className = Astro.props.class ?? "";
---

<section
  id={id || ""}
  class={`flex flex-col justify-center gap-y-4 sm:gap-y-8 w-full mx-auto pb-8 sm:pb-12 lg:pb-32 scroll-mt-24 lg:scroll-mt-48 ${className}`}
>
  <slot />
</section>
