---
interface Props {
  class?: string;
}

const className = Astro.props.class as string;
---

<section
  class:list={[
    "flex flex-col justify-center gap-y-4 sm:gap-y-8 w-full mx-auto py-2 sm:py-24",
    { [className]: Boolean(className) },
  ]}
>
  <slot />
</section>
