---
import Pills from "../components/Pills.astro";
import Banner from "../components/Banner.astro";
import UserImage from "@components/UserImage.astro";
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer id="home" class="pt-4 px-4">
  <UserImage />
  <h1 class="text-2xl sm:text-5xl font-bold">Sebastian Peralta</h1>
  <Banner />
  <Pills />
</SectionContainer>
