---
import Pills from "@components/home/Pills.astro";
---

<footer
  class="text-sm lg:text-base flex justify-center items-center lg:items-start max-sm:mt-1 lg:mb-1 h-10 lg:h-16 w-full font-bold max-lg:border border-white/10 max-lg:dark:bg-black/10 max-lg:bg-white/10 dark:border-black/10"
>
  <div class="lg:w-[1024px] lg:px-8 flex lg:justify-between">
    <Pills
      pillsClass="flex-nowrap gap-0 sm:gap-0"
      pillClass="flex justify-center items-center gap-x-2 max-lg:w-full text-center h-min lg:border border-white/10 lg:dark:bg-black/10 lg:bg-white/10 dark:border-black/10 py-2 px-4 lg:rounded-full lg:hover:scale-105 lg:hover:bg-black/10 lg:dark:hover:bg-white/10 lg:transition-all w-fit max-lg:h-10"
    />
    <div
      class="max-sm:hidden grid place-content-center max-lg:w-full w-fit text-center lg:h-min lg:border border-white/10 lg:dark:bg-black/10 lg:bg-white/10 dark:border-black/10 py-2 px-4 lg:rounded-full h-10"
    >
      Sebastian Peralta - 2024
    </div>
  </div>
</footer>
