<footer
  class="text-sm lg:text-base flex justify-center max-sm:mt-1 h-9 lg:h-16 w-full font-bold"
>
  <div
    class="max-lg:w-full text-center h-min border border-white/10 dark:bg-black/10 bg-white/10 dark:border-black/10 py-2 px-4 lg:rounded-full"
  >
    Sebastian Peralta - 2024
  </div>
</footer>
