:root {
  color-scheme: light dark;
}

html {
  font-family: "JetBrains Mono", "monospace";
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
}
