---
import Footer from "@components/footer/Footer.astro";
import Header from "@components/header/Header.astro";
import Seo from "@components/seo/Seo.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
interface Props {
  title: string;
  description: string;
  canonical: string;
  twitter: string;
}
---

<!doctype html>
<html lang="es">
  <head>
    <meta name="generator" content={Astro.generator} />
    <Seo {...Astro.props} />
    <script>
      window.matchMedia("(prefers-color-scheme: dark)").matches
        ? document.documentElement.classList.add("dark")
        : document.documentElement.classList.remove("dark");
    </script>
  </head>
  <body class="relative">
    <div
      class="absolute h-screen w-full overflow-y-scroll bg-white dark:bg-black [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)] dark:[background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
    >
      <Header />
      <slot />
      <SpeedInsights />
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "JetBrains Mono", "monospace";
  }
  * {
    scroll-behavior: smooth;
  }
  p {
    text-wrap: pretty;
  }
  @media (prefers-reduced-motion: reduce) {
    * {
      scroll-behavior: unset;
    }
  }
</style>
