---
import SpeedInsights from "@vercel/speed-insights/astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
}

const {
  props: { title, description },
  generator,
} = Astro;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <meta name="generator" content={generator} />
    <title>{title}</title>
    <script>
      localStorage.getItem("color-theme") === "dark" ||
      (!("color-theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
        ? document.documentElement.classList.add("dark")
        : document.documentElement.classList.remove("dark");
    </script>
  </head>
  <SpeedInsights />
  <body class="relative">
    <div
      class="absolute h-full w-full items-center overflow-y-scroll bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)] dark:[background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
    >
      <Header />
      <slot />
    </div>
  </body>
</html>
<style is:global>
  @import "/src/globals.css";
</style>
