---
import Footer from "@components/footer/Footer.astro";
import Header from "@components/header/Header.astro";
import Seo from "@components/seo/Seo.astro";
import { SpeedInsights } from "@vercel/speed-insights/next";

interface Props {
  title: string;
  description: string;
  canonical: string;
  twitter: string;
}
---

<!doctype html>
<html lang="es">
  <head>
    <meta name="generator" content={Astro.generator} />
    <Seo {...Astro.props} />
    <script>
      window.matchMedia("(prefers-color-scheme: dark)").matches
        ? document.documentElement.classList.add("dark")
        : document.documentElement.classList.remove("dark");
    </script>
  </head>
  <body>
    <div
      class="absolute w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] dark:bg-[#000000] dark:bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"
    >
      <Header />
      <slot />
      <SpeedInsights />
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "JetBrains Mono", "monospace";
  }

  * {
    scroll-behavior: smooth;
  }

  p {
    text-wrap: pretty;
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      scroll-behavior: unset;
    }
  }
</style>
