---
import SpeedInsights from "@vercel/speed-insights/astro";
import Header from "../components/Header.astro";
import Head from "@components/Head.astro";

interface Props {
  title: string;
  description: string;
  canonical: string;
  userName: string;
}
---

<!doctype html>
<html lang="es">
  <Head {...Astro.props} generator={Astro.generator} />
  <body class="relative">
    <SpeedInsights />
    <div
      class="fixed sm:absolute inset-0 min-h-dvh overflow-y-scroll items-center bg-white dark:bg-black [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)] dark:[background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)] bg-cover"
    >
      <Header />
      <slot />
    </div>
  </body>
</html>
<style is:global>
  @import "/src/globals.css";
</style>
