---
import Header from "../components/Header.astro";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portafolio Web | Sebastian Peralta</title>
  </head>
  <body class="relative">
    <div
      class="absolute h-[300dvh] w-full bg-white dark:bg-[#000000] bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] dark:bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"
    >
      <Header />
      <slot />
    </div>
  </body>
  <script is:inline src="/src/index.ts"></script>
</html>
<style is:global>
  @import "/src/globals.css";
</style>
